* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('img/1080.gif'); 
    background-size: cover; 
    background-position: center;
    color: #FFFFFF; 
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgba(0, 51, 102, 0.8); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #B2EBF2; 
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #B2EBF2; 
    text-decoration: none;
    font-weight: 600;
    margin-left: 15px;
    transition: transform 0.3s ease;
}

.navbar a:hover {
    color: #00BFFF; 
    transform: scale(1.1); 
}

.home {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    flex-grow: 1; 
}

.home-content {
    max-width: 600px;
    text-align: left; 
}

.home-content h1, 
.home-content h3 {
    color: #E0FFFF; 
}

.home-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    color: #B2EBF2;
}

.home-image {
    width: 40%;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.home-image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #EDF2F7;
}

.contact-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007FFF; 
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 20px;
}

.contact-btn:hover {
    background-color: #005F99;
    transform: scale(1.05);
}

.footer {
    background-color: #001F3F; 
    padding: 20px;
    text-align: center;
    color: #B2EBF2; 
    margin-top: 40px;
}

.footer p {
    margin-bottom: 15px;
    justify-content: center;
    font-size: 18px;
    display: flex
    
    
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons a {
    margin: 0 15px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.2);
}

.social-icon {
    width: 40px; 
    height: 40px;
    object-fit: cover; 
}

.dark-mode .social-icon {
    filter: invert(100%); 
}

#argentina-btn, 
#usa-btn, 
#dark-mode-toggle {
    background-color: #005F99; 
    color: #FFFFFF;
    border: none;
    width: 50px;  
    height: 50px; 
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#argentina-btn:hover, 
#usa-btn:hover, 
#dark-mode-toggle:hover {
    background-color: #00BFFF; 
}

.toggle-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 10px; 
}

.dark-mode {
    background: linear-gradient(to bottom left, #1A202C, #2D3748);
    color: #EDF2F7;
}

.dark-mode {
    background: linear-gradient(to bottom left, #1A202C, #2D3748);
    color: #EDF2F7;
    background-image: url('img/1080.gif'); 
    background-size: cover; 
    background-position: center; 
}

.dark-mode .header {
    background: rgba(45, 55, 72, 0.9);
}




.dark-mode .header {
    background: rgba(45, 55, 72, 0.9);
}

.dark-mode .logo, 
.dark-mode .navbar a {
    color: #EDF2F7;
}

.dark-mode .navbar a:hover {
    color: #63B3ED;
}

.dark-mode .home-content p,
.dark-mode .home-content h1,
.dark-mode .home-content h3 {
    color: #E2E8F0;
}

.dark-mode .home-image img {
    border-color: #2D3748;
}

.dark-mode .contact-btn {
    background-color: #63B3ED;
}

.dark-mode .contact-btn:hover {
    background-color: #2C5282;
}

.dark-mode .footer {
    background: #2D3748;
}

.dark-mode #argentina-btn,
.dark-mode #usa-btn,
.dark-mode #dark-mode-toggle {
    background-color: #2D3748;
}
